.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 20px 10px;
}

.header > h2 {
  font-size: 1.7rem;
  margin: 0;
  color: white;
}
