.list-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 15px;
}

.card-content {
  margin-bottom: 10px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.card-actions > button {
  width: 30%;
  height: 30px;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

.add-btn {
  width: 15%;
  height: 40px;
  font-size: medium;
  font-weight: bold;
  color: #fff;
  background-color: #58c9ad;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}
